/*Strat Global Rules*/

:root {
    --color-pale: hsl(225, 100%, 94%);
    --color-bright: hsl(245, 75%, 52%);
    --color-v-pale: hsl(225, 100%, 98%);
    --color-Des: hsl(224, 23%, 55%);
    --color-Dark: hsl(223, 47%, 23%);
    --color-hover: rgba(137, 43, 226, 0.775); 
    --border-R: 10px;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
/*Start Centering The Container*/
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*End Centering The Container*/
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(224deg 100% 92% / 70%);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}
@media (max-width: 375px) {
    body {
    background-image: url(images/pattern-background-mobile.svg);
    font-size: 12px;
}
} 
.container {
    background-color: white;
    box-shadow: 1px 2px 19px 0px #0000002b;
    border-radius: var(--border-R);
    -webkit-border-radius: var(--border-R);
    -moz-border-radius: var(--border-R);
    -ms-border-radius: var(--border-R);
    -o-border-radius: var(--border-R);
}
@media (max-width: 375px) {
    .container {
        width: 300px;
        top: 25px;
    }
}
/*End Global Rules*/

/*Start Image*/
img {
    width: 100%;
    border-top-left-radius: var(--border-R);
    border-top-right-radius: var(--border-R);
    }
/*End Image*/

/*Start Main Text*/
.text {
    text-align: center;
    width: 300px;
    margin:20px auto;
}
@media (max-width: 375px) {
    .text {
        width: 200px;
    }
    .text h1 {
        font-size: 20px;
    }
    .text p {
        font-size: 12px;
        font-weight: 500;
    }
 } 
.text h1 {
    margin-bottom: 20px;
    color: var(--color-Dark);
    font-weight: 900;
}
.text p {
    color: var(--color-Des);
    line-height: 1.7;
}
/*End Main Text*/

/*Start Plan*/
.plan {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    background-color: hsl(224deg 23% 55% / 7%);
    width: 75%;
    border-radius: var(--border-R);
    margin: 0 auto;
    -webkit-border-radius: var(--border-R);
    -moz-border-radius: var(--border-R);
    -ms-border-radius: var(--border-R);
    -o-border-radius: var(--border-R);
}
@media (max-width: 375px) {
    .plan {
        width: 90%;
}
}
.plan::before {
    content: url(images/icon-music.svg);
    position: absolute;
    top: 30%;
    left: 15px;
}
@media (max-width: 375px) {
    .plan::before {
    top: 17%;
    }
}
.plan::after {
    content: 'Change';
    position: absolute;
    top: 50%;
    right: 15px;
    padding-right: 20px;
    color: var(--color-bright);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
@media (max-width: 375px) {
    .plan::after {
        top: 40%; 
    }
}
.plan:hover::after {
    transform:scale(1.02);
    color: var(--color-hover);
    -webkit-transform:scale(1.02);
    -moz-transform:scale(1.02);
    -ms-transform:scale(1.02);
    -o-transform:scale(1.02);
}
.plan h2 {
    color: var(--color-Dark);
    margin: 30px 80px 5px;
    font-size: 18px;
}
@media (max-width: 375px) {
    .plan h2 {
        margin: 0 0 5px 80px;
        padding-top: 20px;
        font-size: 12px;
    }
}
.plan p {
    color: var(--color-Des);
    margin: 0 0 30px 80px;
}
@media (max-width: 375px) {
    .plan p {
        margin: 0 0 13px 80px;
    }
}
/*End Plan*/

/*Start Order*/
.order {
    display: flex;
    flex-direction: column;
}
.order .approve,
.order .cancel { 
    background-color: transparent; 
    border-style: none; 
    cursor: pointer; 
    margin: 20px; 
    font-size: 16px; 
    font-family: 'Red Hat Display', sans-serif; 
    width: 75%; 
    align-self: center; 
    font-weight: 700; 
    transition:0.3s ;
} 
@media (max-width: 375px) {
    .order .approve,
.order .cancel {
    width: 90%;
    font-size: 12px;
    margin-top: 15px;
}
}
.order .approve {
    background-color: var(--color-bright);
    box-shadow: 2px 8px 19px 0px hsl(245deg 75% 52% / 38%);
    color: white;
    padding: 10px;
    border-radius:var(--border-R) ;
    -webkit-border-radius:var(--border-R) ;
    -moz-border-radius:var(--border-R) ;
    -ms-border-radius:var(--border-R) ;
    -o-border-radius:var(--border-R) ;
}
.order .approve:hover {
    transform:scale(1.02);
    background-color: var(--color-hover);
    box-shadow: 2px 8px 19px 0px #8132ca6b;
}
.order .cancel {
    color: hsla(224, 23%, 55%, 0.823);
    font-weight: 700;
}
.order .cancel:hover {
    color: var(--color-Dark);
}
/*End Order*/

.attribution { 
    padding-bottom: 20px;
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color: var(--color-bright); 
}
